Package: com.matchstic.whodis
Name: Who Dis?
Version: 0.3
Description: Basic Caller ID and spam detection
Section: System
Depends: firmware (>= 8.1), mobilesubstrate, com.rpetrich.rocketbootstrap (>= 1.0.2)
Priority: optional
Architecture: iphoneos-arm
Author: Matt Clarke <matt@incendo.ws>
dev: Matt Clarke <matt@incendo.ws>
Depiction: http://repo.incendo.ws/depictions/com.matchstic.whodis.html
Maintainer: Matt Clarke <matt@incendo.ws>


